@import "../../scss/media";
@import "../../scss/theme_variables";

.error-section {
  height: 300px;
  margin: 200px;

  @media #{$mobile-only} {
    height: 0;
    display: block;
    position: relative;
    margin: 30vh 0;
  }

  p {
    text-align: center;
    padding: 0 25px;

    &.strong {
      margin-top: 25px;
      font-weight: bold;
    }
  }

  .skull {
    width: $skull-size;
    height: $skull-size;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .head {
      width: 100%;
      height: 75%;
      border-radius: 15% / 20%;
      position: absolute;
      top: 0;
      left: 0;
      &:before, &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 20%;
        height: 30%;
        bottom: 10%;
      }
      &:before {
        left: 10%;
      }
      &:after {
        right: 10%;
      }
      .crack {
        width: 10%;
        height: 10%;
        position: absolute;
        top: 0;
        right: 25%;
        transform: skew(-15deg);

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: $skull-size / 15;
          border-right: $skull-size / 20 solid transparent;
          border-left: $skull-size / 40 solid transparent;
        }
      }
    }
    .mouth {
      width: 40%;
      height: 25%;
      position: absolute;
      top: 75%;
      left: 30%;
      border-radius: 0 0 $skull-size / 10 $skull-size / 10;
      &:before {
        content: "";
        position: absolute;
        width: 15%;
        height: 50%;
        border-radius: 50% / 30%;
        left: 42.5%;
        top: -25%;
      }
      .teeth {
        position: absolute;
        bottom: 0;
        left: 45%;
        width: 10%;
        height: 50%;
        margin-bottom: -5%;
        border-radius: 50% / 20%;

        &:before, &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50% / 20%;
        }
        &:before {
          left: -250%;
        }
        &:after {
          right: -250%;
        }
      }
    }
  }
}
