<header>
    <div id="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()">
        <img class="logo" src="https://houssein.me/assets/images/angular2-hn.png">
      </a>
      <div class="header-text">
        <div class="left">
          <h1 class="name">
            <a routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()" class="app-title">Angular 2 HN</a>
          </h1>
          <span class="header-nav">
            <a routerLink="/newest/1" routerLinkActive="active" (click)="scrollTop()">new</a>
              |
            <a routerLink="/show/1" routerLinkActive="active" (click)="scrollTop()">show</a>
              |
            <a routerLink="/ask/1" routerLinkActive="active" (click)="scrollTop()">ask</a>
              |
            <a routerLink="/jobs/1" routerLinkActive="active" (click)="scrollTop()">jobs</a>
          </span>
        </div>
        <div class="info">
          Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
        </div>
      </div>
    </div>
  </header>
