@import "../../shared/scss/_media.scss";
@import "../../shared/scss/_themes.scss";

#footer {
  position: relative;
  padding: 10px;
  height: 60px;
  letter-spacing: 0.7px;
  text-align: center;

  a {
  	font-weight: bold;
  	text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media #{$mobile-only} {
    display: none;
  }
}
