<div class="main-content">
  <p class="job-header" *ngIf="storiesType === 'jobs'">
    These are jobs at startups that were funded by Y Combinator. 
    You can also get a job at a YC startup through <a href="https://triplebyte.com/?ref=yc_jobs">Triplebyte</a>.
    </p>
  <ol *ngIf="storiesType !== 'new'" [class.list-margin]="storiesType !== 'jobs'" start="{{ indexFrom + 1 }}">
    <li *ngFor="let item of items | slice:indexFrom:indexFrom + 30" class="post">
      <item class="item-block" itemID="{{ item }}"></item>
    </li>
  </ol>
  <div class="nav">
    <a routerLink="/{{ storiesType }}/{{ pageNum - 1 }}" *ngIf="indexFrom > 0" (click)="scrollTop()" class="prev">
      ‹ Prev
    </a>
    <a routerLink="/{{ storiesType }}/{{ pageNum + 1 }}" *ngIf="items?.length > indexFrom + 30" (click)="scrollTop()" class="more">
      More ›
    </a>
  <div>
</div>