<div class="main-content">
  <p class="job-header" *ngIf="storiesType === 'jobs'">
    These are jobs at startups that were funded by Y Combinator. 
    You can also get a job at a YC startup through <a href="https://triplebyte.com/?ref=yc_jobs">Triplebyte</a>.
    </p>
  <div class="loading-section" *ngIf="!items">
    <div class="loader">
      Loading...
    </div>
  </div>
  <div *ngIf="items">
    <ol *ngIf="storiesType !== 'new'" [class.list-margin]="storiesType !== 'jobs'" start="{{ listStart }}">
      <li *ngFor="let item of items" class="post">
        <item class="item-block" [item]="item"></item>
      </li>
    </ol>
    <div class="nav">
      <a *ngIf="listStart !== 1" [routerLink]="['/' + storiesType, pageNum - 1]" routerLinkActive="active" (click)="changePage(pageNum - 1)" class="prev">
        ‹ Prev
      </a>
      <a *ngIf="items.length === 30" [routerLink]="['/' + storiesType, pageNum + 1]" routerLinkActive="active" (click)="changePage(pageNum + 1)" class="more">
        More ›
      </a>
    <div>
  </div>
</div>