$mobile-only: "only screen and (max-width : 768px)";

#wrapper {
  background-color: #F6F6EF;
  position: relative;
  width: 85%;
  min-height: 80px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.3;

   @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}
