@import "./shared/scss/media";
@import "./shared/scss/theme_variables";

.body-cover {
  width: 100%;
  z-index: 0;
  position: fixed;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 85%;
  min-height: 80px;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.3;

   @media #{$mobile-only} {
    width: 100%;
  }
}
