$mobile-only: "only screen and (max-width : 768px)";

ul {
  list-style-type: none;
  padding: 10px 0;
}

li {
  display: list-item;
}

a.more-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #b92b27;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px 0;
  vertical-align: middle;
  &:hover {
    background-color: #d43833;
  }
}

@media #{$mobile-only} {
  a.more-button {
    color: #fff;
    width: 100%;
    cursor: pointer;
    line-height: 2em;
    padding: 10px 0;
    display: block;
    border-radius: 0;
    position: absolute;
    left: 0;
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.button-block {
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #b92b27;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px 0;
  vertical-align: middle;
  &:hover {
    background-color: #d43833;
  }
}

button:focus {
  outline: 0;
}