@import "../../shared/scss/media";
@import "../../shared/scss/theme_variables";

p {
    margin: 2px 0;

    @media #{$mobile-only} {
      margin-bottom: 5px;
      margin-top: 0;
   }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .title {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
  }

  .subtext-laptop {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;

    a {
      &:hover {
        text-decoration: underline;
      };
    }
    @media #{$mobile-only} {
      display: none;
    }
  }

  .subtext-palm {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;

    a {
      &:hover {
        text-decoration: underline;
      };
    }

    .details {
      margin-top: 5px;

      .right {
        float: right;
      }
    }
    @media #{$laptop-only} {
      display: none;
    }
  }

  .domain {
    color: #696969;
    letter-spacing: 0.5px;
  }

  .item-details {
    padding: 10px;
  }
